$accentColor: #2196F3;


header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 890px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.main{
  display: flex;
  gap: 20px;
  width: 90%;
  
}
.content{
  display: flex;
  flex-direction: column;
  width: 546px;
  .tab{
    
    font-size: 12px;
    line-height: 20px;
    &__button:first-child{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid rgba(223, 229, 236, 1);
    }
    &__button:last-child{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid rgba(223, 229, 236, 1);
    }
    &__button{
      color: #4A4A4A;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      height: 50px;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(223, 229, 236, 1);
      width: 182px;
    }
    &__button:active:hover{
      color: #fff;
      background-color: $accentColor;
    }
    &__button:hover{
      color: #fff;
      background-color: $accentColor;
    }
  }
  .ticket{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    &__header{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .title{
        margin: 0;
        font-weight: normal;
        line-height: 24px;
        font-size: 24px;
        color: $accentColor;
      }
    }
    &__main{
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 20px;
      &-top{
        
        display: flex;
        justify-content: space-between;
        .departure{
          width: 141px;
          &__title{
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            color: #A0B0B9;
          }
          &__info{
            font-size: 14px;
            line-height: 21px;
            color: #4A4A4A;
          }
        }
      }
      &-bottom{
        justify-content: space-between;
        margin-top: 10px;
        display: flex;
        .arrival{
          width: 141px;
          &__title{
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            color: #A0B0B9;
          }
          &__info{
            font-size: 14px;
            line-height: 21px;
            color: #4A4A4A;
          }
        }
      }
    }
  }
}