$accentColor: #2196F3;


header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 890px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.main{
  display: flex;
  gap: 20px;
  width: 90%;
  
}
.content{
  display: flex;
  flex-direction: column;
  width: 546px;
}